.vscode/

/client/node_modules/
/client/dump/
/client/settings/*.json
!/client/settings/*.dist.json
/client/npm-debug.log

/api/env/
/api/**/__pycache__/
/api/dump/
/api/settings/*.cfg
!/api/settings/*.dist.cfg

/parser/env/
/parser/**/__pycache__/
/parser/dump/

/cordova

*.tar.gz*