<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="John Brown">
  <meta name="keywords" content="wit, what is this,">
  <meta name="description" content="What is This???">
  <title>WiT?</title>
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
  <style>
    body,
    #main {
      margin: 0 !important;
      padding: 0 !important;
      width: 100vw !important;
      height: 100vh !important;
      overflow: hidden !important;
      cursor: default !important;
      font-family: 'Libre Franklin', sans-serif;
      font-size: calc(1vw + 1vh) !important;
    }
  </style>
</head>

<body>
  <div id="main"></div>
</body>

</html>