<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="John Brown">
    <meta name="keywords" content="wit, what is this,">
    <meta name="description" content="What is This???">
    <title>WiT?</title>
  </head>
  <body style="margin: 0px !important; padding: 0px !important; width: 100vw !important; height: 100vh !important; overflow-x: hidden !important; overflow-y: hidden !important; font-size: calc(1vw + 1vh) !important; cursor: default !important;">
    <div id="main"></div>
  </body>
</html>
