DEBUG = False
TESTING = False
TRAP_HTTP_EXCEPTIONS = True
JSON_AS_ASCII = False
JSON_SORT_KEYS = False
JSONIFY_PRETTYPRINT_REGULAR = False

SQLALCHEMY_DATABASE_URI = 'postgresql://default:pass@db/rere1'
SQLALCHEMY_POOL_SIZE = 10
SQLALCHEMY_POOL_TIMEOUT = 10
SQLALCHEMY_MAX_OVERFLOW = 0
SQLALCHEMY_ECHO = False
SQLALCHEMY_TRACK_MODIFICATIONS = False
MAX_RECONNECTION_TRY = 5
DEFAULT_SLEEP_TIME = 1

REDIS_URL = 'redis://:pass@storage:6379'

CACHE_TYPE = 'redis'
CACHE_REDIS_URL = 'redis://:pass@cache:6379/0'
CACHE_DEFAULT_TIMEOUT = 86400
CACHE_KEY_PREFIX = 'cache'

RATELIMIT_STORAGE_URL = 'redis://:pass@cache:6379/1'
RATELIMIT_STRATEGY = 'moving-window'
RATELIMIT_DEFAULT = '10/second'
RATELIMIT_KEY_PREFIX = 'rate-limit'

TOKEN_TIMEOUT = 21600
IDENTITY_TIMEOUT = 1800
SESSION_DAILY_LIMIT = 50

MAIL_SERVER = 'rere1'
MAIL_PORT = 25
MAIL_USE_TLS = True
MAIL_USE_SSL = True
MAIL_DEBUG = False
MAIL_USERNAME = 'user'
MAIL_PASSWORD = 'pass'

SENTRY_DSN = 'https://a82062d87e974c0da7da611025569f49@sentry.io/1291390'

INTEGRITY = '601ffaefb2ca69a6a8031ab34e54184fcb05341d673894847d5d0e7b579c97c86f0dd9cae1af620d42470f2fd92e5cbd674117860b4f81366c76daae6ed378a6'
ADMIN_ALIAS  = 'admin'

OPTION_COUNT = 3
EFFECT_COUNT = 2
LAND_COUNT = 5
TABLE_SIZE = 100
MAX_SCORE_FACTOR = 5
SMALL_SCORE_UNIT = 1
BIG_SCORE_UNIT = 3
SHARE_FREEBIE_UNIT = 10
FREEBIE_GIFT_THRESHOLD = 25

ROLL_BY_RATING = 0.1            # 10%
ROLL_BY_RANDOM = 0.333333333    # 30%
ROLL_BY_NOVELTY = 0.25          # 15%
# ROLL_BY_NEW                   # 45%
