beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
EasyProcess==0.2.3
fake-useragent==0.1.8
idna==2.6
psycopg2==2.7.4
psycopg2-binary==2.7.4
PySocks==1.6.8
requests==2.18.4
stem==1.6.0
urllib3==1.22
wikipedia==1.4.0
