<?xml version='1.0' encoding='utf-8'?>
<widget 
    id="one.rere.rere1"
    version="1.0.0"
    defaultlocale="en"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
>
    <name short="rere1">rere.one</name>
    <description>Reveal true essence of images that past various effects, filters and deformations.</description>
    <author email="sup.rere1@gmail.com" href="rere.one"/>
    
    <content src="index.html" />

    <access origin="*://*.rere.one/*" />
    <allow-navigation href="*://*.rere.one/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="enableWebGL" value="true" />

    <resource-file src="resource.xml" />

    <feature name="StatusBar">
        <param name="android-package" value="org.apache.cordova.statusbar.StatusBar" />
        <param name="onload" value="true" />
    </feature>
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-apprate" />
    <plugin name="cordova-admob-sdk">
        <variable name="PLAY_SERVICES_VERSION" value="11.6.0" />
    </plugin>
    <plugin name="cordova-plugin-admob-free" />
    <plugin name="cordova-plugin-google-analytics" >
        <variable name="GMS_VERSION" value="11.6.0" />
    </plugin>
    <plugin name="cordova-plugin-facebook4" spec="~3.1.0">
        <variable name="APP_ID" value="319080632158864" />
        <variable name="APP_NAME" value="ReRe" />
        <variable name="FACEBOOK_ANDROID_SDK_VERSION" value="4.37.0" />
    </plugin>
</widget>
