<?xml version='1.0' encoding='utf-8'?>
<widget 
    id="io.rect.rectio"
    version="1.0.0"
    defaultlocale="en"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
>
    <name short="rectio">rect.io</name>
    <description>Reveal TRUE essence of image past various effects, filters and deformations.</description>
    <author email="faq.rectio@gmail.com" href="rect.io"/>
    
    <content src="index.html" />

    <access origin="*://*.rect.io/*" />
    <allow-navigation href="*://*.rect.io/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="enableWebGL" value="true" />

    <platform name="android">
        <icon src="res/android/icon-ldpi.png" density="ldpi" />
        <icon src="res/android/icon-mdpi.png" density="mdpi" />
        <icon src="res/android/icon-hdpi.png" density="hdpi" />
        <icon src="res/android/icon-xhdpi.png" density="xhdpi" />
        <icon src="res/android/icon-xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/icon-xxxhdpi.png" density="xxxhdpi" />

        <splash src="res/android/lscreen-ldpi.png" density="land-ldpi" /> 
        <splash src="res/android/lscreen-mdpi.png" density="land-mdpi" />
        <splash src="res/android/lscreen-hdpi.png" density="land-hdpi" />
        <splash src="res/android/lscreen-xhdpi.png" density="land-xhdpi"  />
        <splash src="res/android/lscreen-xxhdpi.png" density="land-xxhdpi" />  
        <splash src="res/android/lscreen-xxxhdpi.png" density="land-xxxhdpi" />
        <splash src="res/android/pscreen-ldpi.png" density="port-ldpi" />
        <splash src="res/android/pscreen-mdpi.png" density="port-mdpi" /> 
        <splash src="res/android/pscreen-hdpi.png" density="port-hdpi" /> 
        <splash src="res/android/pscreen-xhdpi.png" density="port-xhdpi"  /> 
        <splash src="res/android/pscreen-xxhdpi.png" density="port-xxhdpi" />  
        <splash src="res/android/pscreen-xxxhdpi.png" density="port-xxxhdpi" />  
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="res/ios/icon.png" width="57" height="57" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" />
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
        <icon src="res/ios/icon-167.png" width="167" height="167" />
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
        <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" />
        <icon src="res/ios/icon-83.5@2x.png" width="167" height="167" />

        <splash src="res/ios/pscreen-568h@2x.png" width="640" height="1136" />
        <splash src="res/ios/pscreen-667h.png" width="750" height="1334" />
        <splash src="res/ios/pscreen-736h.png" width="1242" height="2208" />
        <splash src="res/ios/lscreen-736h.png" width="2208" height="1242" />
        <splash src="res/ios/lscreen-@2x.png" width="2048" height="1536" />
        <splash src="res/ios/lscreen.png" width="1024" height="768" />
        <splash src="res/ios/pscreen-@2x.png" width="1536" height="2048" />
        <splash src="res/ios/pscreen.png" width="768" height="1024" />
        <splash src="res/ios/pscreen-def@2x.png" width="640" height="960" />
        <splash src="res/ios/pscreen-def.png" width="320" height="480" />
    </platform>

    <resource-file src="resource.xml" />

    <feature name="StatusBar">
        <param name="android-package" value="org.apache.cordova.statusbar.StatusBar" />
        <param name="onload" value="true" />
    </feature>
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="onload" value="true" />
    </feature>
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-apprate" />
    <plugin name="cordova-admob-sdk">
        <variable name="PLAY_SERVICES_VERSION" value="11.6.0" />
    </plugin>
    <plugin name="cordova-plugin-admob-free" />
    <plugin name="cordova-plugin-google-analytics" >
        <variable name="GMS_VERSION" value="11.6.0" />
    </plugin>
</widget>
